.register__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}
.register_icon{
    width: 70%;
}
.success_title{
    display: flex;
    font-size: 0.6rem;
    color: #e0655e;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.donw_btn_box{
    margin-top: 1rem;
}